.square {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid black;
  }
  
  .BottomLeftTriangle,
  .BottomRightTriangle,
  .TopLeftTriangle,
  .TopRightTriangle {
    width: 50%;
    height: 50%;
    position: absolute;
  }
  
  .TopLeftTriangle {
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  
  .TopRightTriangle {
    top: 0;
    right: 0;
    clip-path: polygon(100% 100%, 100% 0, 0 0);
  }
  
  .BottomLeftTriangle {
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
  
  .BottomRightTriangle {
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  
  .CenterSquare{
    position: absolute;
    width: calc(100%/1.4142);
    height: calc(100%/1.4142);
    transform: translate(20.5%,20.5%) rotate(45deg); 
  }
  